Node-Red flow AutoAI.json
[{"id":"7ecfe31d.df7fec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e04b346e.912758","type":"ui_form","z":"7ecfe31d.df7fec","name":"input form","label":"","group":"545e6d96.4ce024","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":false,"rows":null},{"label":"Year","value":"b","type":"number","required":false,"rows":null},{"label":"Status","value":"c","type":"text","required":false,"rows":null},{"label":"Adult Motality","value":"d","type":"number","required":false,"rows":null},{"label":"Infant Deaths","value":"e","type":"number","required":false,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":false,"rows":null},{"label":"Percentage Expenditure","value":"g","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":false,"rows":null},{"label":"Measles","value":"i","type":"number","required":false,"rows":null},{"label":"BMI","value":"j","type":"number","required":false,"rows":null},{"label":"Under-Five Deaths ","value":"k","type":"number","required":false,"rows":null},{"label":"Polio","value":"l","type":"number","required":false,"rows":null},{"label":"Total Expenditure","value":"m","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":false,"rows":null},{"label":"GDP","value":"p","type":"number","required":false,"rows":null},{"label":"Population","value":"q","type":"number","required":false,"rows":null},{"label":"Thinness  10-19 years","value":"r","type":"number","required":false,"rows":null},{"label":"Thinness 5-9 years","value":"s","type":"number","required":false,"rows":null},{"label":"Income Composition of Resources","value":"t","type":"number","required":false,"rows":null},{"label":"Schooling","value":"u","type":"number","required":false,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"Clear","topic":"","x":102,"y":121.00000190734863,"wires":[["a290a278.85e44"]]},{"id":"a290a278.85e44","type":"function","z":"7ecfe31d.df7fec","name":"Pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey = \"1CjEUVAocvKjP5E5xf4QMmRLO7BC24n2-Pu1zfN3yM1v\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":154.00000381469727,"y":282.00000286102295,"wires":[["3790b4eb.5e76bc"]]},{"id":"3790b4eb.5e76bc","type":"http request","z":"7ecfe31d.df7fec","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":346.00000762939453,"y":126.00000190734863,"wires":[["cb311444.cd9048"]]},{"id":"deedb497.fce358","type":"http request","z":"7ecfe31d.df7fec","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/65d7659e-9f12-49f1-9937-9a902e100a69/predictions","tls":"","persist":false,"proxy":"","authType":"basic","x":615.0000076293945,"y":185.0000057220459,"wires":[["e589c676.f96328","b10f8349.f543"]]},{"id":"cb311444.cd9048","type":"function","z":"7ecfe31d.df7fec","name":"Send to Endpoint","func":"var token = msg.payload.access_token;\nvar instance_id = \"11e12297-58f7-45b3-a56a-601ce1c018d4\";\nmsg.headers = {'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\nmsg.payload = {\"input_data\":[{\"fields\":[\"Year\",\"Adult Mortality\",\"Infant Deaths\",\"Alcohol\",\"Percentage Expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"Under-Five Deaths\",\"Polio\",\"Total Expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"Thinness  10-19 years\",\"Thinness 5-9 years\",\"Income Composition of Resources\",\"Schooling\",\"Developed\",\"Developing\"],\n \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\n\nreturn msg;","outputs":1,"noerr":0,"x":425.00000762939453,"y":285.00000190734863,"wires":[["deedb497.fce358"]]},{"id":"b10f8349.f543","type":"function","z":"7ecfe31d.df7fec","name":"Get from Enpoint","func":"msg.payload = msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":763.0000076293945,"y":338.0000047683716,"wires":[["fc5172ec.670a","6fe95c2c.4002c4"]]},{"id":"6fe95c2c.4002c4","type":"ui_text","z":"7ecfe31d.df7fec","group":"545e6d96.4ce024","order":1,"width":0,"height":0,"name":"Prediction","label":"Life Expectancy :","format":"{{msg.payload}}","layout":"row-spread","x":905.6000595092773,"y":244.00000381469727,"wires":[]},{"id":"e589c676.f96328","type":"debug","z":"7ecfe31d.df7fec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":806.6000366210938,"y":76,"wires":[]},{"id":"fc5172ec.670a","type":"debug","z":"7ecfe31d.df7fec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900.6000595092773,"y":475.00000762939453,"wires":[]},{"id":"545e6d96.4ce024","type":"ui_group","z":"","name":"Predicting Life Expectancy","tab":"536c940.ddcb76c","order":1,"disp":true,"width":"6","collapse":false},{"id":"536c940.ddcb76c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
