Node-Red flow python.json
[{"id":"2ebf3f8d.9dffc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8460c513.d84208","type":"ui_form","z":"2ebf3f8d.9dffc","name":"input form","label":"","group":"545e6d96.4ce024","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":false,"rows":null},{"label":"Adult Motality","value":"b","type":"number","required":false,"rows":null},{"label":"Infant Deaths","value":"c","type":"number","required":false,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":false,"rows":null},{"label":"Percentage Expenditure","value":"e","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":false,"rows":null},{"label":"Measles","value":"g","type":"number","required":false,"rows":null},{"label":"BMI","value":"h","type":"number","required":false,"rows":null},{"label":"Under-Five Deaths ","value":"i","type":"number","required":false,"rows":null},{"label":"Polio","value":"j","type":"number","required":false,"rows":null},{"label":"Total Expenditure","value":"k","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":false,"rows":null},{"label":"GDP","value":"n","type":"number","required":false,"rows":null},{"label":"Population","value":"o","type":"number","required":false,"rows":null},{"label":"Thinness  10-19 years","value":"p","type":"number","required":false,"rows":null},{"label":"Thinness 5-9 years","value":"q","type":"number","required":false,"rows":null},{"label":"Income Composition of Resources","value":"r","type":"number","required":false,"rows":null},{"label":"Schooling","value":"s","type":"number","required":false,"rows":null},{"label":"Developed","value":"t","type":"number","required":false,"rows":null},{"label":"Developing","value":"u","type":"number","required":false,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"Clear","topic":"","x":102,"y":121.00000190734863,"wires":[["6f6a1eb9.fc525"]]},{"id":"6f6a1eb9.fc525","type":"function","z":"2ebf3f8d.9dffc","name":"Pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey = \"1CjEUVAocvKjP5E5xf4QMmRLO7BC24n2-Pu1zfN3yM1v\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":154.00000381469727,"y":282.00000286102295,"wires":[["385f123b.a51c8e"]]},{"id":"385f123b.a51c8e","type":"http request","z":"2ebf3f8d.9dffc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":346.00000762939453,"y":126.00000190734863,"wires":[["5f42b03d.38699"]]},{"id":"795654bb.aff8ec","type":"http request","z":"2ebf3f8d.9dffc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/11e12297-58f7-45b3-a56a-601ce1c018d4/deployments/1e8513fb-6df7-4317-a32d-cc9578f48c20/online","tls":"","persist":false,"proxy":"","authType":"basic","x":615.0000076293945,"y":185.0000057220459,"wires":[["750bd049.6c65","51bee333.4add7c"]]},{"id":"5f42b03d.38699","type":"function","z":"2ebf3f8d.9dffc","name":"Send to Endpoint","func":"var token = msg.payload.access_token;\nvar instance_id = \"11e12297-58f7-45b3-a56a-601ce1c018d4\";\nmsg.headers = {'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\nmsg.payload = \n{\"fields\":[\"Year\",\"Adult Mortality\",\"Infant Deaths\",\"Alcohol\",\"Percentage Expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"Under-Five Deaths\",\"Polio\",\"Total Expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"Thinness  10-19 years\",\"Thinness 5-9 years\",\"Income Composition of Resources\",\"Schooling\",\"Developed\",\"Developing\"],\n \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":425.00000762939453,"y":285.00000190734863,"wires":[["795654bb.aff8ec"]]},{"id":"51bee333.4add7c","type":"function","z":"2ebf3f8d.9dffc","name":"Get from Enpoint","func":"msg.payload = msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":763.0000076293945,"y":338.0000047683716,"wires":[["2be78860.085de8","6efa5cc4.d5b134"]]},{"id":"6efa5cc4.d5b134","type":"ui_text","z":"2ebf3f8d.9dffc","group":"545e6d96.4ce024","order":1,"width":0,"height":0,"name":"Prediction","label":"Life Expectancy :","format":"{{msg.payload}}","layout":"row-spread","x":905.6000595092773,"y":244.00000381469727,"wires":[]},{"id":"750bd049.6c65","type":"debug","z":"2ebf3f8d.9dffc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":806.6000366210938,"y":76,"wires":[]},{"id":"2be78860.085de8","type":"debug","z":"2ebf3f8d.9dffc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900.6000595092773,"y":475.00000762939453,"wires":[]},{"id":"545e6d96.4ce024","type":"ui_group","z":"","name":"Predicting Life Expectancy","tab":"536c940.ddcb76c","order":1,"disp":true,"width":"6","collapse":false},{"id":"536c940.ddcb76c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
